name: Build Server

# Trigger on merge (push to main) and PRs targeting main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        submodules: true   # important to pull SDK submodule

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential cmake

    - name: Create build folder
      run: mkdir -p build

    - name: Compile Server
      run: |
        cd build
        cmake ..
        make -j$(nproc)
